<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.smhrd.mapper.BoardMapper">
	
	
	<select id="boardList" resultType="kr.smhrd.entity.Board">
		select * from reply order by bgroup desc, bseq asc
	</select>
	
	<!-- 원글을 입력할 때 -->
	<insert id="boardInsert" parameterType="kr.smhrd.entity.Board">
		<selectKey keyProperty="bgroup" resultType="kr.smhrd.entity.Board" order="BEFORE">
			select IFNULL(max(bgroup)+1, 0) as bgroup from reply
		</selectKey>
		insert into reply(username, title, content, writer, bgroup, bseq, blevel)
		values(#{username},#{title},#{content},#{writer}, #{bgroup}, 0, 0)
	</insert>
	
	<!-- 답글을 입력할 때 -->
	<insert id="replyInsert" parameterType="kr.smhrd.entity.Board">
		insert into reply(username, title, content, writer, bgroup, bseq, blevel)
		values(#{username},#{title},#{content},#{writer}, #{bgroup}, #{bseq}, #{blevel})
	</insert>
	
	
	<select id="boardGet" parameterType="int" resultType="kr.smhrd.entity.Board">
		select * from reply where num=#{num}
	</select>
	<update id="boardModify" parameterType="kr.smhrd.entity.Board">
		update reply set title=#{title}, content=#{content} where num=#{num} 
	</update>
	
	<update id="replySeqUpdate" parameterType="kr.smhrd.entity.Board">
		update reply set bseq=bseq+1 where bgroup=#{bgroup} and bseq > #{bseq}
	</update>
	
</mapper>